body{
    
    background-color: antiquewhite;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.conteiner{
    margin-left: 20%;
}
.line1{
    height: 3px;
    border: none;
    background-color:gray;
}
ul{
    list-style-type: circle;
}
img{
    width: 400px;
    
}
img:hover{
    transform:scale(1.5);
    transition: all 0.8s;
}